@import "tailwindcss";

@theme {
  --color-red: #AB0B28;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Sembunyikan scrollbar untuk IE, Edge, dan Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}